<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="dns-prefetch" href="//g.alicdn.com">
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="yes" name="apple-touch-fullscreen" />
    <meta content="telephone=no,email=no" name="format-detection" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <!--meta name="spm-id" content="a1z2q.7513492"/-->
    <link rel="apple-touch-icon" href="favicon.png" />
    <link rel="Shortcut Icon" href="favicon.png" type="image/x-icon" />
    <title><%= pageName%></title>

    <script>g_start = new Date();</script>

    <!-- build:css /<%= pageName%>/index.css -->
    <link rel="stylesheet" href="/<%= pageName%>/index.css">
    <!-- endbuild -->

    <!-- build:js /admix.js -->
    <script src="/bower_components/admix/dist/admix.js"></script>
    <!-- endbuild -->

    <script src="//g.alicdn.com/tb/tracker/1.0.14/index.js"></script>

    <!-- 配置模块 -->
    <script>
    var basePath = 'o2o/<%= appname%>/{version}/',
        l = window.location,
        debug = ~l.href.indexOf('debug') || l.port === '9000';

    if (~l.hostname.indexOf('m.taobao.com')) { //online
        basePath = '//g.alicdn.com/' + basePath;
    }
    else if (~l.hostname.indexOf('waptest.taobao.com')) { //daily
        basePath = '//g.assets.daily'+''+'.taobao.net/' + basePath;
    }
    else if (~l.hostname.indexOf('wapa.taobao.com')) { //yufa
        basePath = '//g.assets.daily'+''+'.taobao.net/' + basePath;
    }
    if (debug) {
        basePath = '//localhost:9000/pages/';
    }
    seajs.config({base: basePath});
    </script>

</head>

<body>

<!-- no data -->
<div id="nodata">
    <i class="iconfont icon-nodata"></i>
    <div>该记录可能已被删除</div>
</div>

<!-- datainfo -->
<div id="datainfo" class="content"></div>

<!-- toolbar actions -->
<div id="actions" class="toolbar"></div>

<script id="datainfoTpl" type="text/tmpl">

<!-- status -->
<div class="content-block mt0">
    <div class="content-block-inner status">
        <i class="iconfont icon-infofill"></i>
        <h3 class="status-title">未投放</h3>
        <p class="status-desc">投放后，消费者才可查看该数据</p>
    </div>
</div>

<!-- base info -->
<div class="list-block">
    <ul>
        <li class="item-content">
            <div class="item-inner">
                <div class="item-title">基本信息</div>
            </div>
        </li>
        <li class="item-content item-label">
            <div class="item-inner">
                <div class="item-title label">名称：</div>
                <div class="item-input">活动名称，优惠券名称</div>
            </div>
        </li>
        <li class="item-content item-label">
            <div class="item-inner">
                <div class="item-title label">有效期：</div>
                <div class="item-input">2015.12.31 00:12:00 - 2015.12.31 00:22:00</div>
            </div>
        </li>
    </ul>
</div>
</script>

<script id="actionsTpl" type="text/tmpl">
<div class="toolbar-inner row">
    <div class="col-33 act-publish disabled">投放</div>
    <div class="col-33 act-edit disabled"><a href="edit.html?id=1">编辑</a></div>
    <div class="col-33 act-del"><a href="javascript:;" _val="1" class="delete">删除</a></div>
</div>
</script>
<!-- 加载脚本 -->
<script>
    g_mstart = new Date();
    seajs.use('<%= pageName%>/index');
</script>
<!--<script src="http://10.125.56.91:9999/target/target-script-min.js#youname"></script>-->
</body>
</html>