<div id="datainfo">
    <!-- status -->
    <div class="block">
        <div class="block-inner status">
            <i class="icon icon-info"></i>
            <h3 class="status-title">未投放</h3>
            <p class="status-desc">投放后，消费者才可查看该数据</p>
        </div>
    </div>

    <!-- base info -->
    <div class="block">
        <div class="block-cell head">基本信息</div>
        <div class="block-cell">
            <div class="cell-inner">
                <div class="item-label">名称：</div>
                <div class="item-input">这是需要你的替换的名称</div>
            </div>
            <div class="cell-inner">
                <div class="item-label">有效期：</div>
                <div class="item-input">2015.10.31 12:00 - 2015.11.12 12:00</div>
            </div>
        </div>
    </div>

    <!-- price info -->
    <ul class="table-view">
        <li class="table-view-cell">
            价格信息
        </li>
        <li class="table-view-cell">
            <div class="cell-inner">
                <div class="item-label">原价：</div>
                <div class="item-input">100.01</div>
            </div>
        </li>
        <li class="table-view-cell">
            <div class="cell-inner">
                <div class="item-label">优惠价：</div>
                <div class="item-input">56.09</div>
            </div>
        </li>
    </ul>

    <!-- description info -->
    <div class="block">
        <div class="block-cell head">描述信息</div>
        <div class="block-cell">这是需要你替换的描述信息</div>
    </div>

</div>

<nav id="actions" class="bar bar-tab">
    <div class="bar-inner">
        <a class="tab-item disabled" href="javascript:;">
            投放
        </a>
        <a class="tab-item disabled" href="javascript:;">
            编辑
        </a>
        <a class="tab-item J_delete" href="javascript:;" _val="1" _type="1">
            删除
        </a>
    </div>
</nav>
