<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="dns-prefetch" href="//g.alicdn.com">
    <link rel="dns-prefetch" href="//at.alicdn.com">
    <link rel="dns-prefetch" href="//gw.alicdn.com">
    <link rel="dns-prefetch" href="//img.alicdn.com">
    <link rel="dns-prefetch" href="//retcode.taobao.com">
    <link rel="dns-prefetch" href="//api.m.taobao.com">
    <link rel="dns-prefetch" href="//cdn.mmstat.com">
    <link rel="dns-prefetch" href="//log.mmstat.com">
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="yes" name="apple-touch-fullscreen" />
    <meta content="telephone=no,email=no" name="format-detection" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <!--meta name="spm-id" content="a1z2q.7513492"/-->
    <title><%= pageName%></title>

    <script>g_start = new Date();</script>

    <link rel="stylesheet" href="//g.alicdn.com/o2o/admix/0.1.4/admix.css?v=20151101">

    <!-- build:css /<%= pageName%>/index.css -->
    <link rel="stylesheet" href="/<%= pageName%>/index.css">
    <!-- endbuild -->

</head>

<body>

<div class="input-group">
    <div class="input-row full-width">
        <input id="title" type="text" placeholder="填写标题（最多20个字）" data-rule="require" data-msg="标题必须填写">
    </div>
    <div class="input-row auto-height">
        <textarea id="desc" type="text" placeholder="填写描述（描述优惠券的使用说明、规则或要求，最多150字）" data-rule="require" data-msg="描述必须填写"></textarea>
    </div>
</div>

<div class="input-group">
    <div class="input-row">
        <label>开始时间</label>
        <input type="text" id="startTime" placeholder="开始时间">
    </div>
    <div class="input-row">
        <label>结束时间</label>
        <input type="text" id="endTime" placeholder="结束时间">
    </div>
</div>

<div class="input-group">
    <div class="input-row">
        <label>类型</label>
        <input type="text" id="type" placeholder="类型" data-rule="require" data-msg="类型必须选择">
    </div>
    <div class="input-row">
        <label>零售价</label>
        <input type="number" id="price" placeholder="零售价" data-rule="require" data-min="0.01" data-max="100" data-msg="价格填写不正确">
    </div>
</div>

<nav class="bar bar-tab">
    <div class="bar-inner">
        <a id="save" href="javascript:;" class="btn btn-primary btn-block">
            提交
        </a>
    </div>
</nav>

<script src="//g.alicdn.com/o2o/admix/0.1.4/admix-zepto.js?v=20151101" crossorigin></script>

<!-- 配置模块 -->
<script>
window.renderByNode = false;
var basePath = 'o2o/<%= appname%>/{version}/',
    l = window.location,
    debug = ~l.href.indexOf('debug') || l.port === '9000';

if (~l.hostname.indexOf('waptest.taobao.com') ||
    ~l.hostname.indexOf('daily.taobao.net')) {      //daily
    basePath = '//g-assets.daily.taobao.net/' + basePath;
}
else if (~l.hostname.indexOf('wapa.taobao.com')) {  //yufa
    basePath = '//g-assets.daily.taobao.net/' + basePath;
}
else  {                                             //online
    basePath = '//g.alicdn.com/' + basePath;
}

if (debug) {
    basePath = '//localhost:9000/pages/';
}
seajs.config({base: basePath});

// 加载脚本
g_mstart = new Date();
seajs.use('<%= pageName%>/index');
</script>

</body>
</html>