<!--<% for (i = 0, l = list.length; i < l; i ++) { %>-->
    <li id="data-item-idneedreplace">
        <a href="detail.html?id=idneedreplace" class="item-link item-content">
            <div class="item-media">
                <img class="lazyloader" src="//assets.alicdn.com/g/s.gif" data-src="imagesneedreplace_100x100.jpg" onerror="this.src='//assets.alicdn.com/apps/mytaobao/3.0/profile/defaultAvatar/avatar-80.png'" width="80">
            </div>
            <div class="item-inner">
                <div class="item-title-row">
                    <div class="item-title">name need replace</div>
                </div>
                <div class="item-text">
                    有效期: 2015-10-11 ~ 2015-12-12
                </div>
            </div>
        </a>
        <div class="actions">
            <span class="act-status">未投放</span>
            <span class="act-publish disabled">投放</span>
            <a class="act-edit edit" href="javascript:;" _val="idneedreplace">编辑</a>
            <a class="act-del delete" href="javascript:;" _val="idneedreplace">删除</a>
        </div>
    </li>
<!--<% } %>-->