<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="dns-prefetch" href="//g.alicdn.com">
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="yes" name="apple-touch-fullscreen" />
    <meta content="telephone=no,email=no" name="format-detection" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <!--meta name="spm-id" content="a1z2q.7513492"/-->
    <link rel="apple-touch-icon" href="favicon.png" />
    <link rel="Shortcut Icon" href="favicon.png" type="image/x-icon" />
    <title><%= pageName%></title>

    <script>g_start = new Date();</script>

    <!-- build:css /<%= pageName%>/index.css -->
    <link rel="stylesheet" href="/<%= pageName%>/index.css">
    <!-- endbuild -->

</head>

<body>

<!-- no data -->
<div id="nodata">
    <i class="iconfont icon-nodata"></i>
    <div>还没有任何数据记录</div>
</div>

<!-- datalist -->
<div class="list-block media-list">
    <ul id="datalist"></ul>
    <div id="loadmore"></div>
</div>

<!-- add button -->
<a id="add" class="plus-btn iconfont" href="edit.html"></a>

<script id="listTpl" type="text/tmpl">

<!--% for (i = 0, l = list.length; i < l; i ++) { %-->
    <li id="data-item-idneedreplace">
        <a href="detail.html?id=idneedreplace" class="item-link item-content">
            <div class="item-media">
                <img src="imagesneedreplace_100x100.jpg" width="80">
            </div>
            <div class="item-inner">
                <div class="item-title-row">
                    <div class="item-title">name need replace</div>
                </div>
                <div class="item-text">
                    有效期: 2015-10-11 ~ 2015-12-12
                </div>
            </div>
        </a>
        <div class="actions">
            <span class="act-status">未投放</span>
            <span class="act-publish disabled">投放</span>
            <a class="act-edit edit" href="javascript:;" _val="idneedreplace">编辑</a>
            <a class="act-del delete" href="javascript:;" _val="idneedreplace">删除</a>
        </div>
    </li>
<!--% } %-->

</script>

<!-- build:js /admix.js -->
<script src="/bower_components/admix/dist/admix.js"></script>
<!-- endbuild -->

<!-- 配置模块 -->
<script>
window.renderByNode = false;
var basePath = 'o2o/<%= appname%>/{version}/',
    l = window.location,
    debug = ~l.href.indexOf('debug') || l.port === '9000';

if (~l.hostname.indexOf('m.taobao.com')) { //online
    basePath = '//g.alicdn.com/' + basePath;
}
else if (~l.hostname.indexOf('waptest.taobao.com')) { //daily
    basePath = '//g-assets.daily'+''+'.taobao.net/' + basePath;
}
else if (~l.hostname.indexOf('wapa.taobao.com')) { //yufa
    basePath = '//g-assets.daily'+''+'.taobao.net/' + basePath;
}
if (debug) {
    basePath = '//localhost:9000/pages/';
}
seajs.config({base: basePath});
</script>

<!-- 加载脚本 -->
<script>
    g_mstart = new Date();
    seajs.use('<%= pageName%>/index');
</script>

<script src="//g.alicdn.com/tb/tracker/1.0.14/index.js"></script>
<!--<script src="http://10.125.56.91:9999/target/target-script-min.js#youname"></script>-->
</body>
</html>