<!--% for (i = 0, l = list.length; i < l; i ++) { %-->
    <ul class="table-view" id="data-item-idneedreplace">
        <li class="table-view-cell media" id="data-info-idneedreplace">
            <a class="no-navigate-right" href="detail.html?id=idneedreplace&type=typeneedreplace">
                <img class="media-object pull-left J_lazyloader" src="//assets.alicdn.com/g/s.gif" data-src="imagesneedreplace_100x100.jpg" width="80" onerror="this.src='//assets.alicdn.com/apps/mytaobao/3.0/profile/defaultAvatar/avatar-80.png'">
                <div class="media-body">
                    <div class="item-title">title need replace</div>
                    <div class="item-subtitle">有效期: 2015-10-11 ~ 2015-12-12</div>
                </div>
            </a>
        </li>
        <li class="table-view-cell actions" id="data-action-idneedreplace">
            <a class="control-item J_edit" href="javascript:;" _val="idneedreplace" _type="typeneedreplace">编辑</a>
            <a class="control-item J_delete" href="javascript:;" _val="idneedreplace" _type="typeneedreplace">删除</a>
        </li>
    </ul>
<!--% } %-->