@import "../../mods/common.scss";

#datalist {
    margin-top: 2.2rem;
}

.icon-plus {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 48px;
    height: 48px;
    font-size: 48px;
    background: #007aff;
    border-radius: 50%;
    z-index: 10;
    &:before {
        color: #fff;
    }
}