@import "../../bower_components/framework7/src/less/mixins";
@import "../../bower_components/framework7/src/less/intro";
@import "../../bower_components/framework7/src/less/toolbars";


//reset
body {
    overflow: auto;
    background: #eeeeee;
    height: auto;
    min-height: 100%;
    color: #31313b;
}
a {
    color: #31313b;
}
.disabled {
    color: #afafb5;
}
.modal-overlay,
.preloader-indicator-overlay,
.popup-overlay,
.actions-modal,
.navbar, 
.toolbar {
    position: fixed;
}
